.sidebar {
  height: 100vh;
  position: fixed;
  width: 16.6667%;
}
.nav-link {
  color: #6c757d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link.active {
  color: #0d6efd;
}
