@import '@fortawesome/fontawesome-free/css/all.min.css';

.sidebar {
  height: 100vh;
  position: fixed;
  width: 16.6667%;
}
.nav-link {
  color: #6c757d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link.active {
  color: #0d6efd;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li:hover { background: #f0f0f0; }
.sidebar li[routerLinkActive] {
  background: #1976d2;
  color: white;
}

.icon {
  font-size: 20px;
  margin-right: 12px;
  transition: all 0.2s ease;
}

.active-icon {
  font-size: 28px !important;
  transform: scale(1.3);
  filter: brightness(1.5);
}
